<mat-drawer-container class="contenedor">
    <mat-drawer class="draw" mode="side" opened>
        <mat-toolbar color="primary">
            <button mat-icon-button class="lista">
                <mat-icon>list</mat-icon>
            </button>
            <span>CATMOONIES</span>
            <img class="logo" src="assets/images/prueba4.png" alt="logo" />
        </mat-toolbar>

        <h3 matSubheader>PELÍCULAS</h3>

        <mat-expansion-panel class="expansion">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    BUSCAR POR TÍTULO
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon>search</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <mat-label>Título de la película</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Título de película original</mat-label>
                <input matInput>
            </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    BUSCAR POR OVERVIEW
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon>search</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <mat-label>Texto a buscar</mat-label>
                <input matInput>
            </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    BUSCAR POR GÉNERO
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon>search</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <mat-label>Género</mat-label>
                <input matInput>
            </mat-form-field>
        </mat-expansion-panel>

        <mat-card>
            <mat-nav-list>
                <a mat-list-item>LAS 10 MÁS POPULARES <mat-icon>favorite_border</mat-icon> </a>
            </mat-nav-list>
        </mat-card>

        <h3 matSubheader>SERIES</h3>

        <mat-expansion-panel class="expansion">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    BUSCAR POR TÍTULO
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon>search</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <mat-label>Título de la serie</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Título de serie original</mat-label>
                <input matInput>
            </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    BUSCAR POR OVERVIEW
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon>search</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <mat-label>Texto a buscar</mat-label>
                <input matInput>
            </mat-form-field>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    BUSCAR POR GÉNERO
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon>search</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <mat-label>Género</mat-label>
                <input matInput>
            </mat-form-field>
        </mat-expansion-panel>

        <mat-card>
            <mat-nav-list>
                <a mat-list-item>LAS 10 MÁS POPULARES <mat-icon>favorite_border</mat-icon> </a>
            </mat-nav-list>
        </mat-card>

    </mat-drawer>
    <mat-drawer-content>NOVEDADES EN PELÍCULAS Y SERIES</mat-drawer-content>

</mat-drawer-container>