<mat-drawer-container class="contenedor">
    <mat-drawer mode="side" opened>
        <mat-toolbar color="primary">
            <button mat-icon-button class="lista">
                <mat-icon>list</mat-icon>
            </button>
            <span>CATMOONIES</span>
            <img class="logo" src="assets/images/prueba4.png" alt="logo" />
        </mat-toolbar>
        <mat-nav-list>
            <h3 matSubheader>PELÍCULAS</h3>
            <a mat-list-item href="...">BUSCAR POR TÍTULO <mat-icon>search</mat-icon> </a>
            <a mat-list-item href="...">BUSCAR POR TÍTULO ORIGINAL <mat-icon>search</mat-icon> </a>
            <a mat-list-item href="...">BUSCAR POR OVERVIEW<mat-icon>search</mat-icon> </a>
            <a mat-list-item href="...">BUSCAR POR GÉNERO <mat-icon>search</mat-icon> </a>
            <a mat-list-item href="...">LAS 10 MÁS POPULARES <mat-icon>favorite_border</mat-icon> </a>

            <h3 matSubheader>SERIES</h3>
            <a mat-list-item href="...">BUSCAR POR TÍTULO <mat-icon>search</mat-icon> </a>
            <a mat-list-item href="...">BUSCAR POR TÍTULO ORIGINAL <mat-icon>search</mat-icon> </a>
            <a mat-list-item href="...">BUSCAR POR OVERVIEW<mat-icon>search</mat-icon> </a>
            <a mat-list-item href="...">BUSCAR POR GÉNERO <mat-icon>search</mat-icon> </a>
            <a mat-list-item href="...">LAS 10 MÁS POPULARES <mat-icon>favorite_border</mat-icon> </a>


        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container>